@charset "UTF-8";
body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  margin: 2vh auto;
  animation: backgroundColorChanges 60s infinite; }

@keyframes backgroundColorChanges {
  0% {
    background: linear-gradient(to bottom right, #b85de3, #47188b); }
  10% {
    background: linear-gradient(to top left, #7b4397, #dc2430); }
  20% {
    background: linear-gradient(to bottom right, #ff0084, #33001b); }
  30% {
    background: linear-gradient(to top left, #FEAC5E, #C779D0); }
  40% {
    background: linear-gradient(to bottom right, #43cea2, #185a9d); }
  50% {
    background: linear-gradient(to top left, #b3ffab, #12fff7); }
  60% {
    background: linear-gradient(to bottom right, #556270, #ff6b6b); }
  70% {
    background: linear-gradient(to top left, #D38312, #A83279); }
  80% {
    background: linear-gradient(to bottom right, #fbd3e9, #bb377d); }
  90% {
    background: linear-gradient(to top left, #c9ffbf, #ffafbd); }
  100% {
    background: linear-gradient(to bottom right, #70e1f5, #ffd194); } }
.searchWrapper {
  width: 80vw;
  height: 10vh;
  border: 1px solid black;
  margin: 0 auto;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 2%;
  font-size: 1.2em; }
  .searchWrapper:hover {
    background-color: #d4d3dd;
    transition: 0.8s background-color; }

#wrapperSearchBar {
  width: 31vw;
  display: inline-block; }
  #wrapperSearchBar:hover > .responseStyleWrapper {
    display: block; }

.responseStyleWrapper {
  width: 100%;
  background-color: white;
  opacity: 0.93;
  color: black;
  padding: 1px;
  border-bottom: 2px solid gray;
  display: none; }
  .responseStyleWrapper:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #12fff7; }

.responseStyleElement {
  width: 100%;
  background-color:  white;
  opacity:  0 0.93;
  color:  black;
  padding:  0; }

.btnsContainer {
  display: inline-block;
  margin: 0 auto;
  padding-top: 1vh;
  position: relative; }

#inputSearch {
  width: 30vw;
  background-color: #f5f5f5;
  text-align: center; }

#btnSearch {
  width: 6vw;
  font-size: 0.7em;
  background-color: #37bbf3;
  border-radius: 50px;
  color: white;
  border: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  cursor: pointer;
  position: absolute;
  margin: 14px; }
  #btnSearch:hover {
    background-color: #39def2;
    transition: 0.8s background-color; }

.killed {
  display: none; }

.bandTitleWrapper {
  width: 40vw;
  height: 4vh;
  margin: 1% auto;
  border-right: 1px solid black;
  border-top: 1px solid black;
  text-align: left; }

#bandTitle {
  margin: 0;
  padding: 0;
  font-size: 1.2em; }

#bandTitle:hover {
  color: #37bbf3;
  transition: 0.8s color;
  cursor: pointer; }

.imgWrapper {
  width: 100%;
  margin: 0 auto; }

.image {
  height: auto;
  width: 25vw;
  border-radius: 5px; }
  .image:hover {
    transform: scale(1.1);
    transition: transform 0.7s; }

.imageContainer {
  display: inline-block;
  margin: 2vh 10px; }

.artistBlockName {
  background-color: white;
  height: 2vh;
  margin: 0;
  padding: 4%;
  color: black;
  border-radius: 5px;
  cursor: pointer; }
  .artistBlockName:hover {
    color: #37bbf3;
    transition: 0.5s color; }

.infoWrapper {
  width: 10vw;
  height: 8vh;
  border: 1px solid black;
  margin: 2vh 0 2vh 8vw;
  background-color: #f5f5f5;
  color: black;
  border-radius: 10px;
  cursor: pointer; }

.infoContent {
  width: 70vw;
  overflow-x: hidden;
  height: 30vh;
  position: relative;
  bottom: 50%;
  left: 10vw;
  padding: 10px;
  display: none;
  border-bottom: 2px solid white; }

.infoStats {
  width: 60vw;
  position: relative;
  bottom: 9vh;
  left: 11vw;
  padding: 10px;
  display: none;
  border-bottom: 2px solid white; }

.tabInfoContent {
  height: 5vh;
  width: 10vw; }
  .tabInfoContent:hover span {
    color: #37bbf3;
    transition: 0.5s color; }
  .tabInfoContent:hover > .infoContent {
    display: block; }

.tabInfoStats {
  height: 5vh;
  width: 10vw; }
  .tabInfoStats:hover span {
    color: #37bbf3;
    transition: 0.5s color; }
  .tabInfoStats:hover > .infoStats {
    display: block; }

.footerWrapper {
  width: 90vw;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #185a9d;
  border: 1px solid white;
  margin-bottom: 2vh;
  opacity: 0.8;
  cursor: pointer;
  background-color: #12fff7; }

/*# sourceMappingURL=style.css.map */
